#row1{
    
    
    margin-left: 20px;
    
  }
  #row2{
    
    
    margin-left: 20px;
    
  }
  #row3{
    
   
    margin-left: 20px;
    
  }

h3{
    font-size: large;
}
h4{
    font-size: large;
}
h5{
    font-size: large;
}
.main{
    margin: 10px;
    border-radius: 12 px;
    box-shadow: 0 1px 5px rgba(0,0,0,25%);
    
    background-color:beige;
    
}
.details-container{
    background-color:beige;
    display: list-item;
    justify-content:space-around;
    
    width: 100%;
    
}
Button{
    margin: 30px;

}
.details-Buttons{
    justify-content:space-evenly;
    display: flex;
    background-color:beige;
}
